#info
{
		color: DarkOliveGreen;
		font-size: 20px;
		padding: 20px;
		padding-top: 50px;
		text-align: justify;
		float: left;
		width: 960px;
		height: auto;
		background-color: DarkKhaki;
									
}
#curvit
{
		margin-left: 350px;
}
#bild
{
		margin-left: 200px;
		margin-top: 50px;
		
}