	#pestanas
	{
			margin-top: 30px;
			margin-left: 10px;
			margin-right: 10px;
	}
	#pestanas h3 
	{
			background-color:  #778959;
			color: beige;
	}
	#wilson
	{
			width: 320px;
			margin-left: 300px;
			border-radius: 10px;
	}
	#ciervo
	{
			width: 320px;
			margin-left: 300px;
			border-radius: 10px;
	}
	#carabo
	{
			width: 320px;
			margin-left: 300px;
			border-radius: 10px;
	}
	#varanger
	{
			width: 320px;
			height: 200px;
			margin-left: 300px;
			border-radius: 10px;
	}
	#gamo
	{
			width: 320px;
			margin-left: 300px;
			border-radius: 10px;
	}
	#expo
	{
			width: 320px;
			margin-left: 300px;
			border-radius: 10px;
	}
	#jornadas
	{
			margin-left: 180px;
			
	}
	#fotografia
	{
			width: 320px;
			margin-left: 300px;
			border-radius: 10px;
	}